@import "../../../styles/mixins/index.scss";

.header {
  position: relative;
  position: sticky;
  width: 100%;
  z-index: 99999;
  top: 0;

  &.MobileviewHeaderBlack {
    @include breakpoint("md-max") {
      background-color: #000;
    }
  }

  .headerAlignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;

    @include breakpoint("md-max") {
      height: 75px;
    }

    .rightContent {
      display: flex;
      align-items: center;
      gap: 20px;
      min-height: 38px;
  

      @include breakpoint("sm-max") {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .searchIconDesign {
            height: 22px;
    width: 22px;
        cursor: pointer;
        @include breakpoint("sm-max") {
          display: none;
        }
      }
      .topPositionAlignment {
        position: relative;
        button{
          min-width:40px;
        }
      }
      button {
           min-width: 90px;
        padding: 6px 12px;
        white-space: nowrap;
        background: transparent;
        @include font16-bold;
        cursor: pointer;
        border: 1px solid $theme-light-white-400;
        border-radius: 999px;
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 24px;
        color: $theme-white;

        @include breakpoint("sm-max") {
          font-size: 14px;
          padding: 5px 12px;
        }


        .GoogleLogoAlignment {
height: 24px;
width: 24px;
          span {
            display: flex !important;

       

          }
        }
        p {
          @include breakpoint("sm-max") {
            display: none;
          }
        }
      }

      svg {
        width: 20px;
        height: 20px;

        path {
          fill: #fff;
        }

        @include breakpoint("md-max") {
          display: block;
        }
      }
    }

    .leftContent {
      display: flex;
      align-items: center;
      gap: 35px;min-height: 44px;
      min-height: 43px;

      @include breakpoint("sm-max") {
        gap: 16px;
      }

      .mobileViewMenu {
        display: none;

        @include breakpoint("md-max") {
          display: block;
        }
      }

      .logoDesign {
        width: 182px;
      height: 40px;
      }

      img {
        max-width: 182px;
       min-height: 40px;

        cursor: pointer;
      }

      nav {
        display: flex;
        align-items: center;
        gap: 30px;

        @include breakpoint("md-max") {
          display: none;
        }

        .activeClass {
          position: relative;
          color: $theme-white;

          &::before {
            position: absolute;
            bottom: -6px;
            left: 0;
            right: 0;
            margin: auto;
            content: " ";
            color: transparent;
            background: $theme-primary-background-color;
            height: 2px;
            transition: 0.4s ease-in-out;
          }
        }

        span,
        a {
          display: block;
          position: relative;
          @include font16-normal;
          color: $theme-light-white-800;
          font-family: $mulish-bold-font;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          letter-spacing: 0.48px;
          position: relative;

          @media (max-width: 1100px) {
            font-size: 14px;
          }

          &:hover {
            color: $theme-white;

            &::after {
              width: 100%;
            }
          }

          &::after {
            position: absolute;
            bottom: -6px;
            left: 0;
            right: 0;
            margin: auto;
            content: " ";
            color: transparent;
            background: $theme-primary-background-color;
            height: 2px;
            width: 0px;
            transition: 0.4s ease-in-out;
          }
        }
      }
    }
  }

  .mobileViewSidebarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: url("/assets/images/docs-right.webp"), #000;
    width: 100%;
    height: 100vh;
    z-index: 9;
  }

  .mobileViewSidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("/assets/images/docs-right.webp"), #000;
    background-position: center;
    z-index: 99;

    &.openSidebarMenu {
      transform: translateX(0);
      transition: 0.4s ease-in-out;
    }

    &.closeSidebarMenu {
      transform: translateX(-100%);
      transition: 0.4s ease-in-out;
    }

    .mobileViewMenuHeader {
      padding: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        img {
          max-width: 180px;
        }
      }

      .closeIcon {
        width: 20px;
        height: 20px;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }

    .mobileMenuOptionDetails {
      padding: 10px 20px;

      p {
        @include font16-bold;
        color: $theme-light-white-600-2;
        padding: 20px 0;
        border-bottom: 1px solid $search-input-border-color;
        font-size: 18px;
        // &:last-child {
        //   border-bottom: none;
        // }

        &:hover {
          color: $theme-white;
        }

        &.activeMenu {
          color: $theme-white;
        }
      }

      -webkit-tap-highlight-color: transparent;
    }
  }
}

.app {
  transition: 0.2s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(98, 93, 245, 0.1) 0.08%,
    rgba(98, 93, 245, 0.03) 16.53%,
    rgba(98, 93, 245, 0.03) 49.06%,
    rgba(98, 93, 245, 0.03) 83.21%,
    rgba(98, 93, 245, 0.1) 99.99%
  );
  backdrop-filter: blur(19.596906662px);

  @include breakpoint("md-max") {
    backdrop-filter: blur(80px);
  }
}

.mobileHeader {
  position: fixed;
  top: 0;
  background-color: $theme-primary-background-color;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;

  &.hide {
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  &.show {
    transform: translateX(0%);
    transition: 0.3s ease-in-out;
  }

  .menu {
    padding: 60px 0 0 0;

    a {
      display: block;
      text-align: center;
      @include heading3;
      text-align: center;
      color: $theme-white;

      margin: 0 0 60px 0;

      @include breakpoint("sm-max") {
        @include heading6;
        margin: 0 0 40px 0;
      }
    }
  }

  .mobileHeaderAlignment {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff1a;

    .logo {
      img {
        max-width: 160px;
        cursor: pointer;
      }
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: #fff;
      }
    }
  }
}

.avatar {
  background-color: #d42cf4;
  color: white;
  border-radius: 50%;
  @include font14;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleDropdownmenu {
  max-height: 1px;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  background-color: transparent;
  background: #232147;
  width: 210px;
  z-index: 1;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px;

  @include breakpoint("sm-max") {
    right: 0;
  }

  button {
    &.secondButon {
      border-bottom: 1px solid $theme-light-white-400;
      width: 100%;
      padding: 6px 12px;
      white-space: nowrap;
      background: transparent;
      @include font16-bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 24px;
      color: $theme-white;
      border: none !important;
      span{
        display: flex !important;
      }

      img {
        max-width: 20px;
      }
    }
  }
}

.show {
  max-height: 100vh;
  transition: 0.3s ease-in-out;
  visibility: visible;
  overflow: hidden;
}

.iconContainer {
  cursor: pointer;
  position: relative;
  height: 28px;
  width: 28px;

  .line {
    height: 2px;
    width: 28px;
    position: absolute;
    left: 0;
    outline: 1px solid transparent;
    background-color: white;
    transition: 0.3s ease-in-out;
  }

  .lineCloseTop {
    top: 3px;
  }

  .lineOpenTop {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg) scaleX(1.2);
  }

  .lineOpenMiddle {
    display: none;
  }

  .lineCloseMiddle {
    top: 50%;
    transform: translateY(-50%);
  }

  .lineOpenBottom {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg) scaleX(1.2);
    outline-color: #1c3532;
  }

  .lineCloseBottom {
    bottom: 3px;
  }
}

.mobileSidebar {
  position: fixed;
  top: 74px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background: #03040e;
  background: url("/assets/images/docs-right.webp"), #000;
  background-position: center;

  &.hide {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  &.show {
    visibility: visible;
    transform: translateX(0);
    transition: 0.3s ease-in-out;
  }

  .mobileBodySpacer {
    padding: 60px 40px;

    a:last-child {
      padding: 0;
    }

    a {
      display: block;
      color: $theme-white;
      font-size: 28px;
      padding: 0 0 60px 0;
      text-align: center;
      font-style: normal;

      line-height: 40px;
      /* 111.111% */

      @include breakpoint("sm-max") {
        font-size: 20px;
        line-height: 30px;
        padding: 0 0 50px 0;
      }
    }
  }
}
