@import "../../../styles/mixins/index.scss";

.shareModalWrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.openModalWrapper {
    opacity: 1;
    visibility: visible;
  }
  .shareModalWrapperBoxAlignment {
    background: #0E1015;
    border: 1px solid #2f2f2f;
    width: 520px;
    border-radius: 25px;
    padding: 30px;

    @include breakpoint("sm-max") {
      width: calc(100% - 40px);
      padding: 16px;
      border-radius: 12px;
    }

    .copyPageLink {
      h4 {
        color: $theme-white;
        @include heading-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin: 0 0 15px 0;
        line-height: normal;
      }

      .relativeDiv {
        position: relative;

        .leftIconAlignment {
          position: absolute;
          left: 17px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .rightAlignment {
          position: absolute;
          top: 0;
          right: 0;

          button {
            border: none;
            padding: 5px 20px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            @include font14;
            color: $theme-white;
            background: #625df5;
            justify-content: center;
            gap: 6px;
            cursor: pointer;
            height: 50px;
          }
        }

        input {
          width: 100%;
          padding-left: 60px;
          padding-right: 120px;
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.1);
          height: 50px;
          border: none;
          @include font14;
          color: $theme-white;

          &:focus {
            outline: none;
          }
        }

        ::placeholder {
          @include font14;
          color: $theme-white;
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px 40px;
      padding: 0 0 40px 0;

      @include breakpoint("sm-max") {
        grid-template-columns: repeat(3, 1fr);
      }

      .griditems {
        span {
          display: block;
          padding: 8px 0 0 0;
          @include font12;
          color: $theme-white;
          text-align: center;
        }

        .centerAlignment {
          display: flex;
          justify-content: center;

          .icon {
            cursor: pointer;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.08);
          }
        }
      }
    }

    .shareModalHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 30px 0;

      img {
        cursor: pointer;

        @include breakpoint("sm-max") {
          max-width: 20px;
        }
      }

      h2 {
        @include heading-30;
        color: $theme-white;
        margin: 0;

        @include breakpoint("sm-max") {
          @include heading-22;
        }
      }
    }
  }
}

.closeAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .iconAlignmen {
    width: 24px;
    height: 24px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
